<form class="form" id="cat_attributes" action="cats/new/attributes" method="post">
  <h3>Choose Your Attributes</h3>
  <p>You have 5 points to spend</p><br>
  <p class="errors" id="attr_error"></p>
  <label class="label">Strength</label><br>
  <input type="number" name="strength"><br>
  <label class="label">Agility</label><br>
  <input type="number" name="agility"><br>
  <label class="label">Intelligence</label><br>
  <input type="number" name="intelligence"><br>
  <label class="label">Cuteness</label><br>
  <input type="number" name="cuteness"><br>

  <input class="button" type="submit" value="Upgrade">
</form>
