<form id="cat_attributes" action="cat/new/attributes" method="post">
  <h3>Choose Your Attributes</h3>
  <p>You have 5 points to spend</p><br>
  <label class="label">Strength</label><br>
  <input type="text" name="strength"><br>
  <label class="label">Agility</label><br>
  <input type="text" name="agility"><br>
  <label class="label">Intelligence</label><br>
  <input type="text" name="intelligence"><br>
  <label class="label">Cuteness</label><br>
  <input type="text" name="cuteness"><br>

  <input type="submit" value="Upgrade">
</form>
