<form id="create_cat" action="/cats/new" method="post">
  <h3>Create Your Cat</h3>
  <label class="label">Nickname</label><br>
  <input type="text" name="nickname"><br>
  <p class="errors" id="nickname_error"></p>
  <label class="label">Image URL</label><br>
  <input type="url" name="url">
  <label class="label"></label><br>
  <input type="hidden" name="user_id" value="<%= session[:id] %>">

  <input type="submit" value="Create Cat">
</form>
