<form id="sign_up" action="/user/new" method="post">
  <h3>Sign Up</h3>
  <label class="label">Full Name</label><br>
  <input type="text" name="fullname" placeholder="Enter your full name"><br>
  <p class="errors" id="name_error"></p>
  <label class="label">Email address</label><br>
  <input type="text" name="email" placeholder="Enter your email"><br>
  <p class="errors" id="email_error"></p>
  <label class="label">Password</label><br>
  <input type="password" name="password">
  <p class="errors" id="password_error"></p>
  <input type="submit" value="Create Account">
</form>
